@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


    header {
        display: flex;
        justify-content: center;
        margin: 10px 200px;
        font-size: xx-small;

        img {
            width: 60px;
        }

        nav {
            display: flex;
            align-items: center;

            ul {
                list-style: none;
                display: flex;
                margin: 0;

                li {
                    margin: 0px 10px;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: large;
                    }
                }
            }
        }
    }

    main {
        background-color: rgb(36, 36, 36);

        .jumbotron_ {
            background-image: url('../img/jumbotron.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 45vh;
        }

        .cards_ {
            margin: 0px 200px;
            color: white;

            .card_style {
                width: 150px;
                background-color: transparent;
                color: white;

                .comic_img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;

                }
            }
        }
    }

    /* detail_comic */
    .white {
        background-color: white;

        .blu_bar {
            background-color: blue;
            width: 100%;
            height: 40px;
        }

        .margin_ {
            margin: 0px 200px;

        }

        img {
            width: 200px;
        }
    }

    footer {

        color: white;

        .upper_footer {
            background-color: rgb(47, 47, 255);
            padding: 50px 0px;


            & img {
                width: 50px;
                height: 50px;
            }

            .row_ {
                margin: 0px 200px;
                display: flex;

                .line_ {
                    height: 20px;
                }
            }
        }

        .inferior_footer {
            background-image: url('../img/footer-bg.jpg');

            .row_ {
                margin: 0px 200px;
                display: flex;

                h5 {
                    font-weight: 600;
                }

                div {
                    font-size: small;
                }

                .container_logo {
                    height: 450px;
                    background-image: url('../img/dc-logo-bg.png');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}